*{
    margin:0;
    padding:0;
    font-size:10px;
}

header{
    background-image: url('img/img1-doctor.jpg');
    background-position: center;
    background-size: cover;
}

header nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 1;
    transition: 0.6s;
    padding:0 5rem;
}

header nav img{
    width: 20%;
    margin-left: 2rem;
}
header nav ul{
    display: flex;
    justify-content: right;
    list-style: none;
    align-items: center; 
}
header nav ul a,
header nav ul li{
    text-decoration: none;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif; 
    color: #2e61da;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.2rem;
}
header nav ul i{
    font-size: 2rem;
}

.sticky{
    background-color: #286ebf;
    height: 6rem;
}
.sticky ul li{
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}

header .infoHeader{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10rem 0;
    padding-bottom: 7rem;
}
header .infoHeader h1{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 3.5rem;
    color: #2c2828;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

header .infoHeader h2{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #646464;
    text-align: center;
    padding-bottom: 1rem;
}

header .infoHeader p{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #286ebf;
    text-align: center;
    padding-bottom: 1rem;
}
header .infoHeader button{
    background: none;
    cursor: pointer;
    color:  #286ebf;
    font-size: 1.5rem;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.8rem 3rem;
    border-radius: 0;
    border: 0.2rem solid  #286ebf;
}

header .infoHeader button:hover{
    background-color: #286ebf;
    color: white;
}
@keyframes bajar{
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    70%{ 
        transform: translate(0,30px);
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.buttonSubeBaja{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.buttonSubeBaja button{
    background: none;
    width: 4rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 35%;
    border: 0.2rem solid #ffffff9c;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem;
}
.buttonSubeBaja button div{
    background-color: white;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    animation: bajar 2s;
    animation-iteration-count: infinite;
}
.botonWs{
    position: fixed;
    cursor: pointer;
    right:3rem;
    bottom: 3rem;
    background-color: #54de48;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    text-align: center;    
    border-radius: 50%;
}
.botonWs i{
    color:white;
    font-size: 4rem;
}
.section1{
    margin: 5rem 7rem 0 7rem;
}
.section1 h2{
    color: #286ebf;
    font-family:"Gill Sans Extrabold", Helvetica, sans-serif;
    font-size:2rem;
    text-align:center;
    padding:2rem;
}
.section1 p{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
}

.section1 .carrusel{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.section1 .carrusel div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    width: 15rem;;
    height: 15rem;
}
.section1 .carrusel div p{
    font-size: 1.5rem;
    font-weight: bold;
}
.section1 .carrusel div i{
    font-size: 4rem;
    padding-bottom: 1rem;
}

.section1 .imagenText{
    display: flex;
    margin: 8rem 3rem 0 3rem;
}
.section1 .imagenText img{
    width: 25rem;
    margin-right: 1rem;
}

.section1 .imagenText div p,
.section1 .imagenText div strong{
    text-align: justify;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size:1.5rem;
    color: black;
}
.section1 .imagenText div p a{
    text-decoration: none;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size:1.5rem;
    color:  #286ebf;
}

.section1 .imagenText div .menuDesplegable i{
    background-color: #286ebf;
    color:  white;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .imagenText .menuDesplegable{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.section1 .imagenText div .menuDesplegable li{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 2rem;    
    border-bottom: 0.1em solid #d7dbdd;
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
}
.section1 .menuDesplegable a{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    color: black;
    text-decoration: none;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}
.section2 .numeros{
    background-color: #286ebf; 
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.section2 .numeros div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}


.section2 .numeros div i,
.section2 .numeros div h3{
    color: white;
    font-size: 2rem;
    padding:0.3rem;
}
.section2 p{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    color: black; 
    margin-bottom: 3rem;
    text-align:center;
    font-size:1.5rem;
    width: 70%
}
.section2 .numeros h3,
.section2 .numeros p{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    color:white;
}

.section2 h2{
    color: #286ebf; 
    text-align:center;
    margin:2.5rem;
    font-size:2rem;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}
@keyframes cambio {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.cambio{
    animation: cambio 2.5s;
}
.section2 .planes{
    display:flex;
    justify-content: center;
}
.section2 .planes img{
    cursor: pointer;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
    width: 19.7rem;
    height: 12rem;
    margin-right: 3rem;
}

.section2 .detalles{
    width: 35rem;
    background-color: #286ebf;
    padding: 1rem;
    border:0;
    color:white;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-top:2rem;
    margin-bottom: 7rem;
}

.seccion3{
    background-color: #00cabe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
@keyframes movimiento{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translate(0);
    }
}
.move{
    animation: movimiento 1s;
}
.seccion3 .containerImg img{
    width: 47rem;
    height: 40rem;
    margin: 3rem;
}

.seccion3 .menuDesple ul i{
    background-color: #0000001e;
    width: 1.5rem;
    height: 1.3rem;
    text-align: center;
    color:black;
}
.seccion3 .menuDesple{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seccion3 .menuDesple h2{
    color: white;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 2rem;
    padding: 1rem 0;
}
.seccion3 .menuDesple p{
    color:white;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
.seccion3 .menuDesple ul ul{
    display: none;
}
.seccion3 .menuDesple ul li{
    list-style: none;
    color:white;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 0.1rem solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seccion3 .menuDesple ul ul li{
    border:0;
    padding-bottom: 0.5rem;
}
.seccion3 .menuDesple ul p{
    display: flex;
    justify-content: space-between;
}
.seccion3 .menuDesple ul p:hover{
    color: #286ebf; 
}
.section4{
    padding: 5rem 10rem 1rem 10rem;;
}
.section4 h2{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    color: #286ebf;
    text-align: center;
    font-size: 2rem;
    margin:3rem 0;
}
.section4 p,
.section4 strong{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.section4 .containerSec4{
    display: grid;
    grid-template-columns: auto 67%;
    grid-template-rows: auto;
    margin: 3rem 0;
}

.section4 .containerSec4 .info{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}
.section4 .containerSec4 .info div{
    background-color: whitesmoke;
    width: 25rem;
    border-bottom: 0.1rem solid #a6a6a6;
    border-bottom-style: dotted; 
    height: 10rem;
    padding: 1rem;
}

.section4 .containerSec4 .info div h3,
.section4 .containerSec4 .info div p{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}
.section4 .containerSec4 .imgBoton{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section4 .containerSec4 .imgBoton img{
    width: 100%;
    height:30rem;
}
.section4 .containerSec4 .imgBoton button{
    background-color: #286ebf; 
    border:0;
    width: 40rem;
    padding: 1rem;
    color: white;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
}
footer{
    background-color: #286ebf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
}
footer div{
    display: flex;
}
footer p{
    color:white;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 0 1.5rem;
}